<!DOCTYPE html>
<html>
  <head>

    <link rel="shortcut icon" href="images/icon.png">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/build.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  </head>
  <body class="w-full overflow-hidden text-white">
    <div id=error class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded absolute z-50 w-[40%] right-2.5 top-2.5 hidden" role="alert">
      <strong class="font-bold">Error!</strong>
      <span id="errormessage" class="block sm:inline">Something seriously bad happened.</span>
      <button onclick="closeerror()" class="absolute top-0 bottom-0 right-0 px-4 py-3">
        <svg class="fill-current h-6 w-6 text-red-500" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><title>Close</title><path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/></svg>
      </button>
    </div>
    
    <%- include('./partials/inici.ejs'); %>
    <%- include('./partials/createroom.ejs'); %>
    <!--<%- include('./partials/joinroom.ejs'); %>-->
    <%- include('./partials/roomlist.ejs'); %>
    <%- include('./partials/lobby.ejs'); %>
    <%- include('./partials/game.ejs'); %>

    <button id='regles' class="regles block text-yellow bg-[#696868] hover:bg-[#868686] focus:ring-4 focus:outline-none focus:ring-[#696868] font-medium rounded-lg text-sm px-2 py-px text-center absolute top-1.5 right-1.5" type="button" data-modal-toggle="defaultModal">
      ?
    </button>

    <div id="selectEmoji" class="hidden fixed bottom-40 right-1/3">
      <emoji-picker class="dark"></emoji-picker>
    </div>
    
    <!-- Info Game modal -->
    <div id="defaultModal" tabindex="-1" aria-hidden="true" class="flex justify-center bg-[#0505053b] hidden absolute top-2 overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 w-full md:inset-0 h-modal md:h-full">
      <div class="relative p-4 w-full max-w-2xl h-full md:h-auto ">
          <!-- Modal content -->
          <div class="relative bg-white rounded-lg shadow dark:bg-gray-700 mx-auto">
              <!-- Modal header -->
              <div class="max-h-full flex justify-between items-start p-4 rounded-t border-b dark:border-gray-600">
                  <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                      Regles del joc
                  </h3>
                  <button type="button" class="regles text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="defaultModal">
                      <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>  
                  </button>
              </div>
              <!-- Modal body -->
              <div class="p-6 space-y-6">
                  <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                    L'objectiu del joc és que els jugadors col·loquin les cartes sobre la taula fins a quedar-se sense cap.
                  </p>
                  <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                    La forma de col·locar les cartes és la següent: <br>
                    
                        Comença el jugador que posseeixi el cinc d'ors.<br>
                        Continua el jugador de la dreta, i així successivament.
                  </p>
                  <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">       
                    Només es poden col·locar cincs o totes aquelles cartes que segueixen en progressió ascendent o descendent les que hi ha a la taula i siguin del mateix coll. És a dir, si a la taula només hi ha el cinc d'ors, els jugadors només podran col·locar el sis o el quatre d'ors o un cinc d'un altre coll.
                  </p>
                  <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                    Si un jugador no pot col·locar cap carta, passa, i el torn li correspon al següent jugador. Un jugador pot passar el seu torn, és a dir, no dipositar una carta, només si no té lloc per col·locar-la. Si un jugador pot posar diverses cartes, haurà de triar la que més li convingui per guanyar el joc.
                  </p>
                  <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                    El primer jugador que aconsegueix col·locar totes les seves cartes sobre la taula és el guanyador.                     
                  </p>
              </div>
              <!-- Modal footer -->
              <div class="flex items-center p-6 space-x-2 rounded-b border-t border-gray-200 dark:border-gray-600 flex justify-center">
                  <button data-modal-toggle="defaultModal" type="button" class="regles text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">D'acord</button>
              </div>
          </div>
      </div>
    </div>

    <!-- Winner Game modal -->
    <div id="WinnerGameModal" tabindex="-1" aria-hidden="true" class="flex justify-center bg-[#0505053b] hidden absolute top-2 overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 w-full md:inset-0 h-modal md:h-full">
      <div class="relative p-4 w-full max-w-2xl h-full md:h-auto ">
          <!-- Modal content -->
          <div class="relative bg-white rounded-lg shadow dark:bg-gray-700 mx-auto">
              <!-- Modal header -->
              <div id="WinnerGameModalTitle" class="max-h-full flex justify-between items-start p-4 rounded-t border-b dark:border-gray-600">
                  <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                  </h3>
              </div>
              <!-- Modal body -->
              <div id="WinnerGameModalContent" class="p-6 space-y-6">
                  <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                  </p>
              </div>
              <!-- Modal footer -->
              <div class="flex items-center p-6 space-x-2 rounded-b border-t border-gray-200 dark:border-gray-600 flex justify-center">
                  <button data-modal-toggle="defaultModal" type="button" class="winnerbuttonGameFinal text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Finalitzar Partida</button>
              </div>
          </div>
      </div>
    </div>
    
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="//cdn.jsdelivr.net/npm/phaser@3.55.2/dist/phaser.min.js"></script> 
    <script type="module" src="https://cdn.jsdelivr.net/npm/emoji-picker-element@^1/index.js"></script>
    <script>
      $(".regles").on("click", function(){
        $('#defaultModal').toggleClass( 'hidden' );
      });

      // $(".winnerbuttonGameFinal").on("click", function(){
      //   $('#WinnerGameModal').toggleClass( 'hidden' );
      //   location.reload();
      // });

      var jugadors = [];
      let params = window.location.search.substring(1);
      
      var socket = io();
      const sections = document.querySelectorAll('body > section');

      function changetoscreen(id){
        for(var i=0;i<sections.length;i++){
          sections[i].classList.add("hidden");
        }
        document.getElementById(id).classList.remove("hidden");
      }

      function username(button){
      console.log(socket.id);
       var name =  $("#inputnomuser").val();
       console.log(name);
       socket.emit('name', {nom: name, button: button});

      }

      $("#createroombut").on("click", function(){
        var name = $('#inputRoomCreate').val();
        socket.emit('createroom', {nom: name, button: 'lobby', public: document.getElementById("inputRoomCreatepublic").checked});
      });

      $("#joinroombut").on("click", function(){
        $("#noadmin").removeClass( 'hidden' );
        $("#startgame").addClass( 'hidden' );

        let codi =  $("#inputval").val();
        console.log("joinroom");
        socket.emit('joinroom', {codi: codi, button: 'lobby'});
      });

      var tmp_error;
      socket.on('error', function(data) {
         console.log("Error: "+data);
         $('#error').removeClass( 'hidden' )
         $('#errormessage').empty()
         $('#errormessage').text(data)
         clearInterval(tmp_error);
         tmp_error = setInterval(closeerror, 5000);
      });

      socket.on('error name', function (data, type) {
        console.log('Error'+data);
        if (type == 'player') {
          $("#errornameplayer").removeClass('hidden');
          $("#errornameplayer").empty();
          $("#errornameplayer").text(data);
        } else if (type == 'roomcreate') {
          $("#errornametablecreate").removeClass('hidden');
          $("#errornametablecreate").empty();
          $("#errornametablecreate").text(data);
        } else if (type == 'roomjoin') {
          $("#errornametablejoin").removeClass('hidden');
          $("#errornametablejoin").empty();
          $("#errornametablejoin").text(data);
        }
      });

      // socket.on('finalGame', function (data) {
      //   $("#WinnerGameModalTitle").children().remove();
      //   $("#WinnerGameModalTitle").append(`<h3 class="text-xl font-semibold text-gray-900 dark:text-white">
      //     Enorhabona ${ data.winner[1] } !!!</h3>`);
        
      //   $("#WinnerGameModalContent").children().remove();
      //   $("#WinnerGameModalContent").append(`<p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
      //     El Guanyador es ${ data.winner[1] }.</p>`);
      //   $("#WinnerGameModal").removeClass("hidden");
      // });

      socket.on('changetoscreen', function (id) {
        for(var i=0;i<sections.length;i++){
          sections[i].classList.add("hidden");
        }
        document.getElementById(id).classList.remove("hidden");
      });

      function closeerror(){
        $('#error').addClass( 'hidden' );
        clearInterval(tmp_error);
      }

    </script>
    <script src="javascripts/publicrooms.js"></script>
    <script src="javascripts/chat.js"></script>
    <script src="javascripts/lobby.js"></script>
    <script src="javascripts/game.js"></script>
    <script src="javascripts/phaser.js"></script>


  </body>
</html>
