<!DOCTYPE html>
<html>
  <head>

    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/build.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  </head>
  <body class="w-full overflow-hidden text-white">
    <div id=error class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded absolute z-50 w-[40%] right-2.5 top-2.5 hidden" role="alert">
      <strong class="font-bold">Error!</strong>
      <span id="errormessage" class="block sm:inline">Something seriously bad happened.</span>
      <button onclick="closeerror()" class="absolute top-0 bottom-0 right-0 px-4 py-3">
        <svg class="fill-current h-6 w-6 text-red-500" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><title>Close</title><path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/></svg>
      </button>
    </div>
    
    <%- include('./partials/inici.ejs'); %>
    <%- include('./partials/createroom.ejs'); %>
    <%- include('./partials/joinroom.ejs'); %>
    <%- include('./partials/lobby.ejs'); %>
    <%- include('./partials/game.ejs'); %>
    
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="//cdn.jsdelivr.net/npm/phaser@3.55.2/dist/phaser.min.js"></script> 
    <script>

      var jugadors = [];
      let params = window.location.search.substring(1);
      
      var socket = io();
      const sections = document.querySelectorAll('body > section');

      function changetoscreen(id){
        for(var i=0;i<sections.length;i++){
          sections[i].classList.add("hidden");
        }
        document.getElementById(id).classList.remove("hidden");
      }

      function username(button){
      console.log(socket.id);
       var name =  $("#inputnomuser").val();
       console.log(name);
       socket.emit('name', {nom: name, button: button});

      }

      $("#createroombut").on("click", function(){
        var name = $('#inputRoomCreate').val();
        socket.emit('createroom', {nom: name, button: 'lobby'});
      });

      $("#joinroombut").on("click", function(){
        $("#noadmin").removeClass( 'hidden' );
        $("#startgame").addClass( 'hidden' );

        let codi =  $("#inputval").val();
        console.log("joinroom");
        socket.emit('joinroom', {codi: codi, button: 'lobby'});
      });

      socket.on('error', function(data) {
         console.log("Error: "+data);
         $('#error').removeClass( 'hidden' )
         $('#errormessage').empty()
         $('#errormessage').text(data)
      });

      socket.on('error name', function (data, type) {
        console.log('Error'+data);
        if (type == 'player') {
          $("#errornameplayer").removeClass('hidden');
          $("#errornameplayer").empty();
          $("#errornameplayer").text(data);
        } else if (type == 'roomcreate') {
          $("#errornametablecreate").removeClass('hidden');
          $("#errornametablecreate").empty();
          $("#errornametablecreate").text(data);
        } else if (type == 'roomjoin') {
          $("#errornametablejoin").removeClass('hidden');
          $("#errornametablejoin").empty();
          $("#errornametablejoin").text(data);
        }
      });

      socket.on('changetoscreen', function (id) {
        for(var i=0;i<sections.length;i++){
          sections[i].classList.add("hidden");
        }
        document.getElementById(id).classList.remove("hidden");
      });

      function closeerror(){
        $('#error').addClass( 'hidden' );
      }

    </script>
    <script src="javascripts/chat.js"></script>
    <script src="javascripts/lobby.js"></script>
    <script src="javascripts/game.js"></script>
    <script src="javascripts/phaser.js"></script>


  </body>
</html>
